language: cpp
compiler:
#    - clang
    - gcc
cache: ccache
before_install:
    - perl .travis/apt.pl
    - if [ "$CXX" = "g++" ]; then export CXX="g++-4.7" CC="gcc-4.7"; fi
env:
    - NOTHING=1
    - FULLDEBUG=1
#    - TILES=1
#    - TILES=1 FULLDEBUG=1
#    - WEBTILES=1
    - WEBTILES=1 FULLDEBUG=1
    - USE_DGAMELAUNCH=1 EXTERNAL_DEFINES=-UTOURNEY
#    - USE_DGAMELAUNCH=1 WEBTILES=1 EXTERNAL_DEFINES=-UTOURNEY
    - TILES=1 BUILD_ALL=1 SOUND=1
    - WEBTILES=1 BUILD_ALL=1
git:
    submodules: false
install: perl .travis/deps.pl
script: perl .travis/build.pl
notifications:
#    email:
#        on_success: change
#        on_failure: always
#        recipients:
#          - crawl-ref-commits@lists.sourceforge.net
    irc:
        channels: "chat.freenode.net##crawl-forks"
        on_success: always
        on_failure: always
        use_notice: true
        template:
            - "%{result} (%{repository_slug} %{branch} - #%{build_number}) %{build_url} View changes: %{compare_url}"
sudo: required
